p, body, ul, div {
  margin: 0;
  padding: 0;
}

ul, ol { list-style: none; } 
.go-prev-btn,.go-next-btn {
  height: 30px;
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
  background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
  background-color:#f9f9f9;
  -moz-border-radius:16px;
  -webkit-border-radius:16px;
  border-radius:16px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#666666;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}
.go-prev-btn:hover,.go-next-btn:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
  background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
  background-color:#e9e9e9;
}

.go-prev-btn:active,.go-next-btn:active {
  position:relative;
  top:1px;
}

.calendar {
  height: 100%;
}

.calendar {
  height: 100%;
}

.week-header {
  padding-top: 20px;
  text-align: center;
  height: 80px;
}

.week-header .table-header {
  width: calc(100% - 15px);
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 30px;
  margin-top: 18px;
  display: inline-block;
}

.week-header .scroll-div {
  height: 30px;
  display: inline-block;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.week-header .table-header .header-index {
  border: none;
  width: calc((100% - 6px) / 20);
}

.week-header .table-header li{
  width: calc((100% - ((100% - 6px) / 20) - 7px) / 7);
  display: inline;
  border-left: 1px solid #ccc;
  text-align: center;
  line-height: 1.5em;
  float: left;
  height: 100%;
}

.schedule-table {
  overflow-y: scroll;
}
.schedule-table  {
  width: 100%;
}

.schedule-table  ul{
  float: left;
  margin: 0;
  padding: 0;
  border-left: 1px solid #ccc;
  width: calc((100% - ((100% - 6px) / 20) - 7px) / 7);
  text-align: center;
}

.schedule-table  ul > li{
  border-bottom: 1px solid #ccc;
  height: 40px;
  position: relative;
}

.schedule-table  .hour-axis{
  width: calc((100% - 6px) / 20);
  border: none;
}

.schedule-table  .hour-axis li{
  border: none;
  vertical-align: middle;
}

.schedule-table::-webkit-scrollbar {
  width: 15px;
}

.schedule-table::-webkit-scrollbar-track {
  background: #e7e7e7;
}

.schedule-table::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.schedule-table .cards {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
}

